github "Alamofire/Alamofire"
github "ReactiveX/RxSwift" ~> 4.0
github "SwiftyJSON/SwiftyJSON" ~> 4.0
github "kean/Nuke" ~> 7.0
github "kishikawakatsumi/KeychainAccess"
github "mxcl/PromiseKit" ~> 6.8

github "ishkawa/APIKit" ~> 3.1
github "ikesyo/Himotoki" ~> 3.1
